<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1031845016855-auno2j5fle7hssv512u7qi59gg2dlggm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031845016855-auno2j5fle7hssv512u7qi59gg2dlggm</string>
	<key>API_KEY</key>
	<string>AIzaSyCEdA-bwgBxFG6GyvrA7OjfCkXVqiFOAcA</string>
	<key>GCM_SENDER_ID</key>
	<string>1031845016855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.intagram</string>
	<key>PROJECT_ID</key>
	<string>intagram-e2dea</string>
	<key>STORAGE_BUCKET</key>
	<string>intagram-e2dea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031845016855:ios:f7e73c1b8a6d25dc30b352</string>
</dict>
</plist>